<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztz.cloudmusic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.AdjustColumnActivity" />
        <activity android:name=".activity.PlayListActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.Main3Activity" />
        <activity android:name=".activity.PlayDetailActivity" />
        <activity android:name=".activity.base.NewFriendActivity" />
        <activity android:name=".activity.base.TestActivity" />

        <receiver android:name=".widget.MusicWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ztz.cloudmusic.WIDGET_LAST" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ztz.cloudmusic.WIDGET_PLAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ztz.cloudmusic.WIDGET_NEXT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

        <activity android:name=".activity.TestActivity"></activity>
    </application>

</manifest>